# Ignorar o ambiente virtual do Poetry
.venv
.env

# Ignorar caches do Python
__pycache__/
*.pyc
*.pyo

# Ignorar caches e arquivos de configuração de IDEs
.vscode/
.idea/
.DS_Store

# Ignorar arquivos de dados locais
data/raw/
data/processed/

